<header>
  <h1 class="title">NgxQuixxElements demo</h1>
  <div>
    <a href="https://www.npmjs.com/package/ngx-quixx-elements" target="_blank">Npm</a>
    <a href="https://github.com/niccol6/ngx-quixx-elements" target="_blank">GitHub</a>
  </div>
</header>
<main>
  <div class="chapters" *ngIf="{ v: currentPage$ | async } as currentPage">
    @for (chapter of pageList; track chapter.label) {
    <h2 class="chapter-label">{{ chapter.label }}</h2>
    <div class="pages">
      @for (page of chapter.pages; track page.path) {
      <h3 class="page-label" [routerLink]="page.path" [class.selected]="currentPage.v == page.path">
        {{ page.label }}
      </h3>
      }
    </div>
    }
  </div>
  <div class="page-wrapper">
    <router-outlet></router-outlet>
  </div>
</main>
